.content {
    grid-area: c;
}
.avatar {
    width: 100px;
}
.ava {
    margin-top: 10px;
    width: 50px;
    border-radius: 50px;
}
.imageLike {
    padding: 0 5px;
    width: 20px;
}
.likeDislike {
    padding: 0 5px;
    display: inline;
}
i {
    margin-bottom: 15px;
}
.mainPhoto {
    max-width: 400px;
}
.contact {
    padding-left: 10px;
}